<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div>
        <h2>please sign in to system</h2>
    </div>

    <div>
        <h4>
            <p><a th:href="@{/oauth2/authorization/google}">Login with Google</a></p>
            <p><a th:href="@{/oauth2/authorization/yandex}">Login with Yandex</a></p>
        </h4>
    </div>

    <form th:action="@{/login}" method="post">
        <div>
            <p><input name="email" required class="form-control" placeholder="E-mail" /></p>
        </div>
        <div>
            <p><input type="password" name="pass" required class="form-control" placeholder="Password" /></p>
        </div>
        <div>
            <p><input type="submit" value="Login" class="btn btn-primary" /></p>
        </div>
    </form>

    <p>Don't have your account:</p>
    <p>
        <a th:href="@{/register}">Register</a>
    </p>
</body>
</html>